@import 'bootstrap/dist/css/bootstrap';

#homeHero {
  background-image: asset-url('mac-copy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
